li{
    list-style-type: none;
    padding: 14px;
    margin: 2px;
    border: 1px solid silver;
    position: relative;
    border-radius: 5px;
}
ul{
    padding: 0;
    margin: 0;
}
li:hover{
    cursor: pointer;
}
.done{
    text-decoration: line-through;
}
.important{
    font-weight: 700;
    color: dodgerblue;
}